Options -Indexes

<FilesMatch "^(config|config\.example|database)\.(php|sql)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^storage/ - [F,L]
</IfModule>
